<% /* Inventory Management View */ %>
<main>
  <h1>Inventory Management</h1>
  <% if (typeof message !== 'undefined' && message) { %>
    <div class="flash-message"><%= message %></div>
  <% } %>
  <ul class="management-links">
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
  </ul>
</main>
